@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';

}
body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    object-fit: ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgb(228, 228, 243);
    position: fixed; /* Make the navbar fixed */
    top: 0; /* Stick it to the top */
    left: 0; /* Align it to the left */
    width: 100%; /* Full width */
    z-index: 1000; /* Ensure it stays above other content */
}

nav img {
    height: 80px; /* Adjust this value to make the logo bigger */
    width: auto;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 15px;
    margin-right: 52px;
}

.nav-items a {
    color: navy;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s;
    font-weight: 400;
}

.nav-items a:hover {
    background-color: rgb(236, 236, 161); /* Change background on hover */
}


#data {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#data h1{
    font-size: 2rem;
    color:rgba(80, 70, 56, 0.714);
}
#data p{
    color:rgba(63, 56, 46, 0.714); 
    font-size: 1.5rem;
    margin-top: 18px;
}

.data-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    background-color: white;
    margin-top: 12px;
}

.data-section {
    text-align: center;
    width: 45%; /* Adjusted width to fit two items in a row */
    margin: 10px;
    padding: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
}

.data-section button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 15px;
}

.data-section img {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin: 0 auto 15px;
}
.data-section p{
    margin-top: 15px;
    font-size: 0.9rem;
    line-height: 22px;
    color: navy;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}
.btn:hover{
    color: white;
    background-color: black;
}
footer {
    background-color: rgb(11, 11, 64);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}
